name: Build and Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore DiscoSaveEditor/DiscoSaveEditor.sln

    - name: Build
      run: dotnet build DiscoSaveEditor/DiscoSaveEditor.sln --configuration Release --no-restore

    - name: Publish
      run: dotnet publish DiscoSaveEditor/DiscoSaveEditor/DiscoSaveEditor.csproj --configuration Release --output ./publish --runtime win-x64 --self-contained true -p:PublishReadyToRun=true

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DiscoSaveEditor-win-x64
        path: ./publish/**
